.backgroundNewTrips {
  /* margin: auto;
  margin-left: 280px; */
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  /* overflow: auto; */
  height: auto;
  text-align: center;
  background-size: cover;
}

/* ----------------LADO DIREITO------------------- */
.card-title.rightTripTitle {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2px;
}

.rigthTripDescription {
  text-align: left;
  font-size: 13px;
  color: rgb(161, 161, 161);
  margin-left: 15px;
}

.rigthTripAuthor {
  color: #7da9a9;
  text-align: left;
  font-size: 13px;
  margin-left: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.rigthTripAuthor:hover {
  color: #7da9a9;
}

.card-body.bodyNewTrips {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

<<<<<<< HEAD
=======
.card-img-top {
  border-top-left-radius: calc(0.45rem - 1px) !important;
  border-top-right-radius: calc(0.45rem - 1px) !important;
  border-bottom-right-radius: calc(0.45rem - 1px) !important;
  border-bottom-left-radius: calc(0.45rem - 1px) !important;
}

.card-img-bottom {
  border-top-left-radius: calc(0.45rem - 1px) !important;
  border-top-right-radius: calc(0.45rem - 1px) !important;
  border-bottom-right-radius: calc(0.45rem - 1px) !important;
  border-bottom-left-radius: calc(0.45rem - 1px) !important;
}

>>>>>>> cf8ef5034c3b2fa167b4d82614a4828d7867ffd4
.card-title.titleNewTrips {
  font-weight: bold;
  font-size: 115%;
  text-transform: uppercase;
  margin-top: 4%;
  margin-left: 15px;
  max-width: 100%;
}

.card-title.cardTitleNewTrip {
  color: #fff;
  border: 10px;
  font-size: 160%;
  margin-top: 0px;
  text-align: start;
  text-shadow: 0.5px 0.5px 0.4px rgba(0, 0, 0, 0.404);
}
.card-text.cardSubtitleNewTrip {
  margin-top: 12%;
  /* font-size: 115%; */
  color: #fff;
  border: 10px;
  /* font-size: 160%; */
  margin-top: 0px;
  text-align: start;
  text-shadow: -0.6px 0.6px 0.5px rgba(0, 0, 0, 0.404);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

* {
  box-sizing: border-box;
}

.divNewTrips {
  width: 100%;
}

.divPositionsNewTrips {
  margin: auto;
  /* padding-top: 0%; */
  width: 80%;
  height: auto;
}

/* -------------------------- Lado esquerdo ------------------------------------ */
.row.rowImgNewTripsTop {
  padding-bottom: 20px;
}

.card-img-bottom.cardImgNewTrip {
  filter: blur(1px) brightness(95%);
  border-radius: 0px !important;
  border: 0px !important;
  height: 380px;
}

.col.colImgNewTrisBootom {
  padding-right: 0px;
  padding-left: 0px;
}
.divLeftNewTrips {
  margin-bottom: 7px;
}
.colLeftNewTrips {
  width: 70%;
}

.divRightNewTrips {
  margin-bottom: 7px;
  height: 40% !important;
}
.colRighttNewTrips {
  padding-left: 10px;
  width: 100%;
}

.card-img-top.cardImgNewTripsLittle {
  border-radius: 0px !important;
  border: 0px !important;
  height: 190px;
}
/* ------------------------- Hover descriptionImgs ------------------- */

.textWithBlurredBg {
  width: 100%;
  height: auto;
  /* display: inline-block; */
  /* position: relative; */
  transition: 0.3s;
  /* margin: 4px; */
}

.textWithBlurredBg img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 4px;
}

.textWithBlurredBg:hover img {
  filter: blur(1px) brightness(95%);
  box-shadow: 0 0 16px #ffffff;
}

.textWithBlurredBg :not(img) {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.textWithBlurredBg h3 {
  top: 50%;
}

.textWithBlurredBg:hover :not(img) {
  opacity: 1;
}
/* ------------------------------------------------------------------- */

.btn-link.buttonLinkNewTrips {
  padding: 0px;
}
/* ----------------------- Principal newtrips images------------------------ */
/* .card-img-overlay.imgOverlayNewTrips{
  justify-content: flex-start;
  align-items: flex-start;
} */

@media screen and (max-width: 880px) {
  .colLeftNewTrips {
    padding-left: 10px;
    width: 100%;
  }

  .card-title.cardTitleNewTrip {
    font-size: 100%;
    margin-top: 0px;
  }
  .card-text.cardSubtitleNewTrip {
    margin-top: 0px;
    overflow: hidden;

    -webkit-line-clamp: 2;
  }

  /* ------------------------- Hover descriptionImgs ------------------- */

  .textWithBlurredBg {
    width: 100%;
    height: auto;
    /* display: inline-block; */
    /* position: relative; */
    transition: 0.3s;
    /* margin: 4px; */
  }

  .textWithBlurredBg img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 4px;
  }

  .textWithBlurredBg:hover img {
    filter: blur(1px) brightness(95%);
    box-shadow: 0 0 16px #ffffff;
  }

  .textWithBlurredBg :not(img) {
    /* position: absolute; */
    z-index: 1;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
    font-size: 100%;
  }

  .textWithBlurredBg h3 {
    top: 50%;
  }

  .textWithBlurredBg:hover :not(img) {
    opacity: 1;
  }

  .card-img-bottom.cardImgNewTrip {
    border-radius: 0px;
    border: 0px;
    height: 200px;
  }
}
