.backGroundProfile {
  /* margin: auto;
  margin-left: 280px; */
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  text-align: center;
  background-size: cover;
}

.card-img.profilePic {
  width: 350px;
  height: 300px;
}
.col.colDetails {
  background-color: #fff;
  padding-top: 10px;
}

.card.colGuideDetais {
  margin-left: 10px;
  border: none;
  width: 70%;
}

.card-title.cardNameGuide {
  font-size: 25px;
  text-transform: uppercase;
  color: #fa6980;
  border-bottom: solid;
  border-color: rgb(216, 212, 212);
  border-width: thin;
  margin-top: 5px;
  padding-bottom: 5px;
}

.divFavorite {
  color: #fa6980;
}

.card-subtitle.cardGuideInf {
  padding-top: 10px;
  font-size: 20px;
}

.card-text.cardDescriptionGuide {
  padding-top: 10px;
  font-weight: bold;
  /* max-width: 50%; */
  width: 85%;
  /* height: 200px; */
}

/* ----------------------- Tours ---------------------- */
.card-title.newToursTitleProfile {
  padding-left: 15%;
  padding-top: 5%;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
}

.divTripsProfile {
  background-size: cover;
  padding-bottom: 5px;
  padding-left: 15%;
  padding-right: 15%;
  float: center;
  width: 98%;
  height: 30%;
  text-align: left;
  font-size: 13px;
}

.divTourProfile {
  margin-bottom: 9px;
}

.list-group-item.listGroupItemProfile {
  padding: 0px;
}

.card.cardProfile {
  width: 100%;
  height: auto;
  color: #fff;
  border: 5px;
  text-align: start;
  /* text-shadow: -0.6px 0.6px 0.5px rgba(0, 0, 0, 0.404); */
}
.card-img.imgToursProfile {
  /* filter: blur(1px) brightness(95%); */
  border-radius: 0px;
  border: 0px;
  height: 380px;
}

.card-title.cardTitleTourProfile {
  color: #fff;
  border: 10px;
  font-size: 160%;
  margin-top: 0px;
  text-align: start;
  text-shadow: 0.5px 0.5px 0.4px rgba(0, 0, 0, 0.404);
}

.card-text.descTourProfile {
  margin-top: 12%;
  /* font-size: 115%; */
  color: #fff;
  border: 10px;
  /* font-size: 160%; */
  margin-top: 0px;
  text-align: start;
  text-shadow: -0.6px 0.6px 0.5px rgba(0, 0, 0, 0.404);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 880px) {
  .card-img.profilePic {
    margin-top: 10px;
    margin-left: 30%;
    width: 150px;
    height: 150px;
    /* float: unset; */

    /* float: left; */
  }

  .col.colDetails {
    /* background-color: #fff; */
    /* min-width: 45%; */
    padding-top: 0px;
  }

  .card.colGuideDetais {
    margin-left: 18px;
    /* background-color: #fff; */
    /* border: none; */
    width: 95%;
  }

  .card-text.cardDescriptionGuide {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 95%;
    float: right;

    /* max-width: 50%; */
  }

  /* ----------------------- Tours ---------------------- */
  .card-title.newToursTitleProfile {
    padding-left: 5%;
  }

  .divTripsProfile {
    padding-left: 5%;
    padding-right: 5%;
  }

  .card-img.imgToursProfile {
    height: 220px;
  }
}
