.row.rowPositionPostSearchInputs {
  margin: auto;
  justify-content: center;
}

/* --------------------------- Location/ Date Form---------------- */
.input-group.locateFormPostSearch {
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  /* margin-left: 30%; */
}
.formPositionDatePostSearch {
  margin-top: 20px;
}

.iconSearchCalendarColor {
  color: #fa6980;
}
.divIconDatePostSearch {
  padding-right: 10px;
}
.input-group-text.inputGorupDatePostSearch {
  height: 38.1px;
  width: 180px;
}

/* ------------------------------ Icons -------------------------------- */
.divIconsPostSearch {
  height: 5%;
  width: 250px;
}
.row.iconsPostSearch {
  padding-top: 50%;
  /* justify-content: flex-end; */
}

.iconColorPostSearch {
  color: #fa6980;
}
.iconHeartPostSearch {
  color: #fa6980;
  font-size: 20px;
  float: right;
}

.iconChartPostSearch {
  font-size: 20px;
  color: #4b8e8e;
  float: right;
  margin-right: 20px;
}

.card-text.cardTextEvaluationPostSearch {
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
  height: 20px;
  width: 50px;
  color: indianred;
  font-weight: bold;
}
.card-text.cardTextTravelersPostSearch {
  margin: 0px;
  height: 20px;
  width: 90px;
  color: darkcyan;
  font-weight: bold;
}

/* ----------------------------Buttons----------------------------------- */
/* .buttonsFeedPosition {
    margin: auto;
    padding-top: 0%;
    width: 70%;
  } */
a.btn.disabled.searchButtonPostSearch,
.fieldset:disabled.searchButtonPostSearch,
.a.btn.searchButtonPostSearch,
.btn-primary.disabled.searchButtonPostSearch,
.btn-primary:disabled.searchButtonPostSearch,
.btn-primary.searchButtonPostSearch {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border: 5% !important;
  background-color: #fa6980;
  text-align: center;
  /* text-decoration: none; */
  border-color: #fa6980;
}
.btn-primary.searchButtonPostSearch:hover {
  background-color: #e0596f;
  border-color: #fa6980;
}
.buttonPositionPostSearch {
  padding-top: 20px;
  padding-left: 10px;
}
