.backGroundRegister {
  background-image: url(../../imgs/beach.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  height: auto;
  text-align: center;
  background-size: cover;
}

/* -------------------------- Try login -------------- */
.rowTryLoginPosition {
  align-items: center !important;
  color: black;
  justify-content: center;
}
.subCoverTrylogin {
  padding: 0%;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* --------------------------Card--------------------- */
.card-title.coverTitleRegisterUser {
  padding-top: 2px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 22px;
  color: #fa6980;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.cardPositionRegUser {
  margin-top: 50px;
  margin-bottom: 70px;
  /* justify-content: center;
  align-items: center; */
}

.card.handleCardRegUser {
  background-color: rgba(255, 255, 255, 0.575);
  /* padding: 5%; */

  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  width: 40rem;
  margin: auto;
  border-radius: 8px;
}

.help-blockRegUser {
  color: rgb(243, 53, 53);
}

/* --------------- Forms -------------------------- */

.formPositionUserRegAling {
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

.input-group.userRegFields {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

/* ---------------Aling sex/dateBirthday---------- */
.row.rowSexTimeRegUser {
  justify-content: center;
  height: 90px;
}
/* .alingSexRegUser {
  padding-right: 10px;
  padding-left: 10px;
} */

.divSexRegUser {
  padding-top: 15.2px;
  height: 50px;
}
.divDateRegUser {
  height: 50px;
}
.form-group.alingSexRegUser {
  padding: 0px;
  margin: 0px;
}
.col.colSexRegUser {
  padding: 0px;
}

/* ----------------- Dates ---------- */
.formPositionRegUserDateSex {
  width: 100%;
  margin: auto;
  align-content: center;
  /* padding-top: 10px; */
}
.form-label.labelTimePickerRegUser {
  margin: 0%;
  margin-bottom: 8px;
  /* padding-left: 2px; */
  /* padding-right: 4px; */
  font-size: 15px;
  color: #707070;
}
.styleTimePickerRegUser {
  /* padding-top: 4px; */
  /* padding-left: 6px; */
  width: 120px;
  margin-right: 100px;
}
.row.rowTimePickerRegUser {
  /* padding-top: 0px; */
  margin-left: 5px;
  margin-bottom: 10px;
  width: 320px 42.75px;
  /* margin-right: -50px */
}

/* -------------------------- Images --------------------------------------------------- */
.row.rowImagePositionRegUser {
  width: 100%;
  margin: 0px;
  /* align-items: center !important; */
  /* color: black; */
  justify-content: center;
}

.divImageRegUser {
  min-width: 190px;
  align-content: flex-start;
  width: 100%;
}

/* ---------------------------- Buttons --------------------------------- */
/* .buttonPositionRegisterUser {
  padding-top: 3%;
  margin: auto;
} */
.btn-primary.disabled.buttonRegisterUser,
.btn-primary:disabled.buttonRegisterUser,
.btn-primary.buttonRegisterUser {
  background-color: #fa6980;
  border-color: #fa6980;
  font-weight: bold;
  border-radius: 5px;
  /* text-transform: uppercase; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}
.btn-primary:not(:disabled):not(.disabled):active:hover,
.btn-primary.buttonRegisterUser:hover {
  background-color: #d8546a;
  border-color: #d8546a;
}
/* .btn-primary:not(:disabled):not(.disabled):active:hover{
  background-color: #d8546a;
  border-color: #d8546a;
} */
.buttonPositionRegisterUser {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
}

/* ---------------------------- Ling ----------------------------------- */
div.regUserItem {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 2px;
  border-radius: none;
  border-color: rgba(73, 73, 73, 0.534);
  /* font-size:18px; */
  padding-top: 0%;
}
div.regUserItemBotton {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top-width: 1px;
  border-radius: none;
  border-color: rgba(73, 73, 73, 0.534);
  /* font-size:18px; */
  padding-top: 0%;
}

/* --------------- Icons ------------ */
.SocialIconsRegUser {
  margin-top: 1%;
  /* margin-left: 42.5%; */
}
/* //////////////////////////////////////////////////////////////// MEDIA /////////////////////////////////////////////////////////////////////////////// */
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .backGroundRegister {
    background-image: url(../../imgs/beach.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: auto;
    text-align: center;
    background-size: cover;
  }
  /* --------------------------Card--------------------- */
  .card-title.coverTitleRegisterUser {
    padding-top: 2px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 17px;
    color: #fa6980;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .cardPositionRegUser {
    margin: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    /* padding-bottom: 80px; */
    /* justify-content: center;
    align-items: center; */
  }
  .card.handleCardRegUser {
    background-color: rgba(255, 255, 255, 0.575);
    /* padding: 5%; */
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    width: 93%;
    margin: auto;
    border-radius: 20px;
  }

  .help-blockRegUser {
    color: rgb(243, 53, 53);
  }

  /* --------------- Forms -------------------------- */

  .formPositionUserRegAling {
    width: 100%;
    margin: auto;
    margin-top: 3%;
  }

  .input-group.userRegFields {
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
  }

  /* ---------------Aling sex/dateBirthday---------- */
  .row.rowSexTimeRegUser {
    width: 100%;
    justify-content: center;
    margin: auto;
    height: auto;
  }
  /* .alingSexRegUser {
    padding-right: 10px;
    padding-left: 10px;
  } */

  .divSexRegUser {
    width: 100%;
    padding-top: 20px;
    height: 50px;
  }
  .divDateRegUser {
    width: 100%;
    /* height: 50px; */
  }
  .form-group.alingSexRegUser {
    padding: 0%;
  }
  .col.colSexRegUser {
    padding: 0px;
  }

  /* ----------------- Dates ---------- */
  .formPositionRegUserDateSex {
    width: 100%;
    margin: auto;
    align-content: center;
    /* padding-top: 10px; */
  }
  .form-label.labelTimePickerRegUser {
    margin: 0%;
    margin-bottom: 3px;
    /* padding-left: 2px; */
    /* padding-right: 150px; */
    font-size: 15px;
    color: #707070;
  }
  /* .styleTimePickerRegUser {
    justify-items: flex-start;
    padding-left: 6px;
    width: 100%;
  } */
  .row.rowTimePickerRegUser {
    padding-top: 10px;
    width: 320px 42.75px;
    /* margin-right: -50px */
  }

  /* -------------------------- Images --------------------------------------------------- */
  .row.rowImagePositionRegUser {
    width: 100%;
    margin: 0px;
    /* align-items: center !important; */
    /* color: black; */
    justify-content: center;
  }

  .divImageRegUser {
    min-width: 190px;
    align-content: flex-start;
    width: 100%;
    padding-bottom: 10px;
  }

  /* ------------------------------------ Buttons ---------------------------- */
  .buttonPositionRegisterUser {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: auto;
  }
  .btn-primary.disabled,
  .btn-primary:disabled.buttonRegisterUser,
  .btn-primary.buttonRegisterUser {
    background-color: #fa6980;
    border-color: #fa6980;
    font-weight: bold;
    border-radius: 5px;
    /* text-transform: uppercase; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
  .btn-primary:not(:disabled):not(.disabled):active:hover,
  .btn-primary.buttonRegisterUser:hover {
    background-color: #d8546a;
    border-color: #d8546a;
  }
  /* --------------- Icons ------------ */
  .SocialIconsRegUser {
    margin-top: 1%;
    /* margin-left: 35%; */
  }
}
