.form-row.formRowHowManyBooking {
  margin-top: 10px;
  margin-left: 15px;
}

.labelParticipantsNumber {
  margin-right: 5px;
  padding-top: 12px;
  color: #707070;
}

.form-group.formParticipantsNumber {
  padding-top: 5px;
  height: 15px;
  max-width: 80px;
}

.labelParticipants {
  margin-left: 5px;
  color: #707070;
}

.labelParticipantsInstruction {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  color: #707070;
  font-weight: bold;
}

.form-control.participantName {
  min-width: 350px;
}

.form-control.participantDoc {
  min-width: 200px;
}

.labelBookingTotalPrice {
  margin-top: 12px;
  margin-bottom: 7px;
  margin-left: 20px;
  margin-right: 25px !important;
  color: #707070;
  font-weight: bold;
}

.btn-primary.disabled.buttonBooking,
.btn-primary:disabled.buttonBooking,
.btn-primary.buttonBooking {
  background-color: #fa6980;
  border-color: #fa6980;
  font-weight: bold;
  border-radius: 5px;
  /* text-transform: uppercase; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.btn-primary:not(:disabled):not(.disabled):active:hover,
.btn-primary.buttonBooking:hover {
  background-color: #d8546a;
  border-color: #d8546a;
}

@media (max-width: 880px) {
  .btn-primary.disabled.buttonBooking,
  .btn-primary:disabled.buttonBooking,
  .btn-primary.buttonBooking {
    margin-bottom: 15px;
    margin-left: 10px;
  }
}
