.alinhamentoPost {
  align-items: center;
}

.colPositionPost {
  /* margin: auto; */
  padding-top: 0%;
  width: 98%;
}
.contentDivTour {
  padding-top: 0%;
  width: 20%;
}

.descriptionDivTour {
  float: left;
  padding-top: 0%;
  margin-left: 90px;
  /* padding-right: 50px; */
  width: 70%;
}

.notification-item {
  width: 200px;
}

@media (max-width: 880px) {
  .contentDivTour {
    width: 100%;
  }

  .descriptionDivTour {
    float: left;
    padding-top: 0%;
    margin-left: 0px;
    /* padding-right: 50px; */
    width: 100%;
  }
  .descriptionDivTourAling{
    margin-left: 25px;
  }
  .bookingDivAling{
    margin-left: 12px;
  }
}
