.TamanhoColuna {
  width: 90%;
  height: 40%;
  text-align: justify;
}

.card-title.descriptionPostTitle {
  font-size: 25px;
}

/* ---------------- Images ----------------- */
.card-img.cardImgPostDescription {
  height: 300px;
  min-width: 300px;
  max-width: 600px;
}

.row.rowNewImg {
  float: left;
  width: 45%;
  margin: 0px;
}

.card.cardImgDescription {
  margin: 5px !important;
  border: 5px;
  border-bottom: 5px;
}

.card-deck.cardDeckDescription {
  margin: -5px;
  margin-top: 10px;
}

@media (max-width: 880px) {
  .card-img.cardImgPostDescription {
    height: 195px;
  }
  .row.rowNewImg {
    width: 98%;
    margin: 0px;
  }
}
