.input-group.locateMyTours {
  width: 40%;
  /* margin-top: 20px; */
  margin-left: 30%;
}

.form-control.mr-sm-2.searcMyTours {
  margin-left: 102px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 35%;
}
.btnSearchMyTours.btn.btn-outline-info {
  margin-top: 19px;
  margin-bottom: 10px;
  height: 38px;
  color: #4b8e8e;
  border-color: #4b8e8e;
}

.btnSearchMyTours.btn.btn-outline-info:hover {
  color: #ffffff;
  border-color: #4b8e8e;
}

.buttonPlusNewTour.btn.btn-outline-info {
  margin-left: 10px;
  margin-top: 19px;
  margin-bottom: 10px;
  height: 38px;
  width: 120px;
  color: #4b8e8e;
  border-color: #4b8e8e;
}

.buttonPlusNewTour.btn.btn-outline-info:hover {
  color: #ffffff;
  border-color: #4b8e8e;
}

.svg-inline--fa.fa-plus-circle.fa-w-16.iconPlusMyTours {
  margin-left: 8px;
  width: 18px;
  /* height: 25px; */
  /* color: #fa6980; */
}

@media (max-width: 991px) {
  .form-control.mr-sm-2.searcMyTours {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 50%;
  }

  .btnSearchMyTours.btn.btn-outline-info {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 38px;
    color: #4b8e8e;
    border-color: #4b8e8e;
  }

  .buttonPlusNewTour.btn.btn-outline-info {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 38px;
    width: 100px;
    color: #4b8e8e;
    border-color: #4b8e8e;
  }
  
  .buttonPlusNewTour.btn.btn-outline-info:hover {
    color: #ffffff;
    border-color: #4b8e8e;
  }
  
  .svg-inline--fa.fa-plus-circle.fa-w-16.iconPlusMyTours {
    margin-left: 0px;
    width: 0px;
    /* height: 25px; */
    /* color: #fa6980; */
  }
}
