.backGroundRegisterPost {
  /* background-image: url(../../imgs/beach.jpg); */
  background-repeat: no-repeat;
  background-size: 100%;
  /* max-width: 100%; */
  /* max-height: 100%; */
  overflow: auto;
  height: auto;
  background-position: center; /* Center the image */
  text-align: center;
  background-size: cover; /* Resize the background image to cover the entire container */
  /* font-size: 0vw; */
}

/* ------------------------------------ Buttons ---------------------------- */
.btn-primary.disabled,
.btn-primary:disabled.buttonSavePost,
.btn-primary.buttonSavePost {
  background-color: #fa6980;
  border-color: #fa6980;
  font-weight: bold;
  border-radius: 5px;
  /* text-transform: uppercase; */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
}
.btn-primary.buttonSavePost:hover {
  background-color: #d8546a;
  border-color: #d8546a;
}
.buttonPositionSavepost {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
}

.iconPlusPostReg {
  width: 25px !important;
  height: 25px;
  color: #fa6980;
}
.btn-primary.btnIconAddRegPost {
  background-color: #fa6980;
  border-color: #fa6980;
  align-self: flex-end;
}
.btn-primary.btnIconAddRegPost:hover {
  background-color: #d8546a;
  border-color: #d8546a;
}

.btnPositionPlusPostReg {
  padding-left: -190px;
  /* margin-top: 5px; */
  /* padding-bottom: 5px; */

}

/* ---------------------------- Card ----------------------------- */
.card-title.coverTitleRegisterPost {
  padding-top: 5%;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 22px;
  color: #fa6980;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.cardPositionRegPost {
  padding-top: 50px;
  margin-bottom: 50px;
  /* padding-bottom: 80px; */
  justify-content: center;
  align-items: center;
}
.card.handleCardPostReg {
  /* padding-top: 60px; */
  background-color: rgba(255, 255, 255, 0.747);
  /* padding: 5%; */
  /* padding-top: 50px; */
  /* padding-bottom: 110px; */
  padding-left: 60px;
  padding-right: 60px;
  font-weight: bold;
  /* width: 65rem; */
  width: 70%;
  margin: auto;
  border-radius: 8px;
  /* justify-content: center; */
}

.formPositionRegPost {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.formPositionRegEstimatedHour {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.input-group.inputGroupPost {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

/* ------------------- TimePicker -------------- */

.react-datepicker__day--highlighted{
  background-color: rgb(105, 105, 105);
}
.form-control.fieldEstimated {
  width: 80px;
}

.preview_container {
  padding-right: 15px;
  padding: 0px;
  /* padding-left: 1000px; */
  border-right: 150px;
  /* width: 200%; */
}
/* .wrapper { */
/* margin-right: 0px; */
/* width: 40%; */
/* padding-left: 350px; */
/* align-items: flex-start;
  align-content: flex-start;
  text-align: end; */
/* } */
/* .time_picker_container{
  margin-left: 10px
} */
.dark .time_picker_preview {
  border-radius: 5px;
  border-width: 30px;
  border-color: #ced4da;
  /* align-items: center; */
  width: 50%;
}

.form-label.labelTimePicker {
  margin: 0%;
  padding-top: 10px;
  padding-right: 7px;
  padding-left: 15px;
  font-size: 15px;
  color: #707070;
}

.form-label.fieldTimePicker {
  margin: 0%;
  padding-top: 10px;
  padding-right: 7px;
  padding-left: 15px;
  font-size: 15px;
  color: #707070;
}

/* --------------------- images ---------------- */
.dhKuzT, .iMAkkb, .eGNsFw {
  margin: 3px;
  padding: 0px;
}
.imagesPosition {
  width: 70%;
  margin: auto;
  padding-top: 15px;
  /* margin: auto; */
  /* padding-top: 15px; */
  /* width: 100%; */
}

.row.rowImagePosition {
  width: 100%;
  margin: 0px;
  /* align-items: center !important; */
  /* color: black; */
  justify-content: center;
}

.divMainImage {
  min-width: 190px;
  align-content: flex-start;
  width: 45%;
}
.divOtherImages {
  min-width: 190px;
  align-content: flex-end;
  width: 45%;
}

/* ----------------------------------------- */

.alinhamento {
  align-items: center;
}

.colPosition {
  margin: auto;
  padding-top: 0%;
  width: 90%;
}
.contentDiv {
  float: left;
  padding-top: 0%;
  width: 30%;
}
.descriptionDiv {
  float: left;
  padding-top: 0%;
  width: 70%;
}

.btn-primary.placePeriod {
  border-color: #ced4da;
  background-color: #ffffff;
  text-align: start;
  width: 100%;
  color: rgb(73, 80, 87);
}
.btn-primary.placePeriod:hover {
  color: rgb(73, 80, 87);
  background-color: #ffffff;
  border-color: #ced4da;
}

.rowDatePeriodPosition {
  /* align-items: initial !important; */
  color: black;
  justify-content: start;
}

.datePeriodTitle {
  font-size: 13px;
  /* color: white; */
  /* text-transform: uppercase; */
  font-weight: bold;
}
.timePiker {
  width: 85%;
}
div.timePosition {
  width: 70%;
}

.centerItems {
  /* padding-top: 3%; */
  /* margin: auto;
  align-content: center;
  align-items: center; */
  margin: auto;
  justify-content: center;
}

/* --------------------- Validations */
.help-blockRegPost {
  color: rgb(243, 53, 53);
}

/* -----------------------LineDates ----- */
div.datesItemRegPost {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 2px;
  border-radius: none;
  border-color: rgba(73, 73, 73, 0.534);
  /* font-size:18px; */
  padding-top: 0%;
  width: 70%;
  margin: auto;
}
div.datesItemRegPostBotton {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top-width: 1px;
  border-radius: none;
  border-color: rgba(73, 73, 73, 0.534);
  /* font-size:18px; */
  padding-top: 0%;
  width: 70%;
  margin: auto;
}
/* .alingIemsDateRegPost{
  width: 
} */

/* //////////////////////////////////////////////////////////////// MEDIA /////////////////////////////////////////////////////////////////////////////// */
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  /* ------------------------------------ Buttons ---------------------------- */
  .btn-primary.disabled,
  .btn-primary:disabled.buttonSavePost,
  .btn-primary.buttonSavePost {
    background-color: #fa6980;
    border-color: #fa6980;
    font-weight: bold;
    border-radius: 5px;
    /* text-transform: uppercase; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
  .btn-primary.buttonSavePost:hover {
    background-color: #d8546a;
    border-color: #d8546a;
  }
  .buttonPositionSavepost {
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
  }
  .btnPositionPlusPostReg {
    padding-top: 5px;
    padding-left: 8px;
    margin: 0px;
  }

  /* ---------------------------- Card ----------------------------- */
  .backGroundRegisterPost {
    /* background-image: url(../../imgs/beach.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
    /* max-width: 100%; */
    /* max-height: 100%; */
    overflow: auto;
    height: 100%;
    background-position: center; /* Center the image */
    text-align: center;
    background-size: cover; /* Resize the background image to cover the entire container */
    /* font-size: 0vw; */
  }

  .card-title.coverTitleRegisterPost {
    padding-top: 5%;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 17px;
    color: #fa6980;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .cardPositionRegPost {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
  .card.handleCardPostReg {
    /* padding-top: 60px; */
    background-color: rgba(255, 255, 255, 0.747);
    /* padding: 5%; */
    /* padding-top: 50px; */
    /* padding-bottom: 110px; */
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    /* width: 65rem; */
    width: 85%;
    margin: auto;
    border-radius: 20px;
    /* justify-content: center; */
  }

  .formPositionRegPost {
    width: 100%;
    margin: auto;
    padding-top: 10px;
  }
  .input-group.inputGroupPost {
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .divAlingItems {
    width: 100%;
  }

  /* ------------------- TimePicker -------------- */
  .formPositionRegEstimatedHour {
    width: auto;
    margin: auto;
    padding-top: 10px;
  }
  .timePickerPostPosition {
    width: 0%;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
  }
  /* .row.rowTimePicker {

} */
  .styleDatePostRegister{
    padding-left: 15px;
    width: 250px;
  }
  .preview_container {
    /* padding-right: 15px; */
    padding: 0px;
    /* padding-left: 1000px; */
    border-right: 150px;
    /* width: 200%; */
  }
  .btn-primary.customInput {
    padding-right: 130px;
  }
  /* .wrapper { */
  /* margin-right: 0px; */
  /* width: 40%; */
  /* padding-left: 350px; */
  /* align-items: flex-start;
  align-content: flex-start;
  text-align: end; */
  /* } */
  /* .time_picker_container{
  margin-left: 10px
} */
  .dark .time_picker_preview {
    border-radius: 5px;
    border-width: 30px;
    border-color: #ced4da;
    /* align-items: center; */
    width: 96.5%;
  }
  .form-label.labelTimePicker {
    margin: 0%;
    padding-top: 10px;
    padding-right: 7px;
    padding-left: 15px;
    font-size: 15px;
    color: #707070;
    /* style={{ margin: '0px', paddingRight: '10px', fontSize: '15px' }} */
  }

  /* ----------------------------- CustomSwitch ------------------------ */
  .row.rowCustomSwitch {
    margin: 0px;
  }

  /* --------------------- images ---------------- */

  .imagesPosition {
    width: 100%;
    margin: auto;
    padding-top: 15px;
    /* margin: auto; */
    /* padding-top: 15px; */
    /* width: 100%; */
  }

  .row.rowImagePosition {
    width: 100%;
    margin: 0px;
    /* align-items: center !important; */
    /* color: black; */
    justify-content: center;
  }

  .divMainImage {
    min-width: 190px;
    align-content: flex-start;
    width: 100%;
    padding-bottom: 10px;
  }
  .divOtherImages {
    min-width: 190px;
    align-content: flex-end;
    width: 100%;
  }

  /* -----------------------LineDates ----- */
  .list-group-item:first-child.datesItemRegPost {
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 2px;
    border-radius: none;
    border-color: rgba(73, 73, 73, 0.534);
    /* font-size:18px; */
    padding-top: 0%;
    width: 98%;
    margin: auto;
    height: 2px;
  }
  .list-group-item:last-child.datesItemRegPostBotton {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top-width: 1px;
    border-radius: none;
    border-color: rgba(73, 73, 73, 0.534);
    /* font-size:18px; */
    padding-top: 0%;
    width: 98%;
    margin: auto;
    height: 2px;
  }
  .alingIemsDateRegPost {
    height: 15px;
  }

  /* ----------------------------------------- */
}
