.navbar-light .navbar-nav .nav-link.menuItem {
  color: #4b8e8e;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding-top: 14px;
}

.navbar-light .navbar-nav .nav-link.menuItem:hover {
  color: #fa6980;
}

.navbar-light .navbar-brand.title:hover{
  color: #fa6980;
}

/* ------------------------------------ Sign up ------------------------ */

.btn-outline-primary.buttonSingUp {
  /* padding: 0px; */
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;

  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 27px;
  margin-right: 8px;
  color: #4b8e8e;
  border-color: #4b8e8e;
  background-color: #ebebeb;
}

.btn-outline-primary.buttonSingUp:hover {
  color: #fa6980;
  border-color: #fa6980;
  background-color: #ebebeb;
}

/* --------------------------------------- Inputs ---------------------------------- */

.form-control.mr-sm-2.searchHeader {
  width: 400px;
}
.btnSearchHeader.btn.btn-outline-info {
  color: #4b8e8e;
  border-color: #4b8e8e;
}

.btnSearchHeader.btn.btn-outline-info:hover {
  color: #ffffff;
  border-color: #4b8e8e;
}

.divDateHeader {
  margin-right: 10px;
}

/* ------------------------------------------------------------------------------- */

.navbar-light .navbar-brand.title {
  color: #fa6980;
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.navbar.header {
  padding: 0rem;
  background-color: #ebebeb;
  /* position: fixed;  */
}

.dropdown-item.headerName {
  color: #4b8e8e;
}
.dropdown-item.headerName:hover {
  color: #4b8e8e;
}

.dropdown-item.sign {
  color: red;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  text-align: right;
}

.avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-menu.show {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}

.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  border-bottom: none;
}

.dropdown-toggle::after {
  display: none !important;
}

.divHeader {
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .divHeader {
    margin-bottom: 38px;
  }

  .btn-outline-primary.buttonSingUp {
    /* padding: 0px; */
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 27px;
  }
}
