.container {
  display: flex;
  padding-top: 60px;
}

.list-group.lista{
  padding-top: 30%;
  font-size: 50px;
}

.list-group-item.fundo{
  background-color: #FA6980;
  border-top: none;
  border-bottom-width: 3px;
  border-color: white;
  font-size:18px;
  padding-top: 10%;
}

.card.painelEsquerdo{
  background-color: #FA6980 ;
  border-radius: 15px;
}

.react-calendar{
  margin-top: 35%;
  width: 350px;
  height: 320px;
  border: none;
  background-color: rgb(247, 243, 245);
}

.react-calendar__tile.botaocalendario{
  background-color: rgb(239, 243, 24);
  padding-top: 1.75em;
}

.col.painelDireito{
  /*margin-top: 19%;*/
  background-color: rgb(247, 243, 245);
  border-color: rgb(32, 177, 56);
  border-radius: 10px;
}

.react-calendar__tile--active{
  background:  #FA6980;
  border-radius: 55%;
  padding: 9px !important;
  padding-left: 11px !important;
  padding-right: 11px !important;
  background-clip: content-box !important;
}

.react-calendar__tile--active:hover{
  background-color:  #FA6980 !important;
  border-radius: 55%;
  padding: 9px !important;
  padding-left: 11px !important;
  padding-right: 11px !important;
  background-clip: content-box !important;
}

.react-calendar__tile--active:focus{
  background-color:  #FA6980 !important;
  border-radius: 55%;
  padding: 9px !important;
  padding-left: 11px !important;
  padding-right: 11px !important;
  background-clip: content-box !important;
}


img.icone{
  width: 25px;
  height: 25px;
}
