.backgroundCover {
  /* background-image: url(../../../imgs/camping.jpg);  */
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  background-size: cover;
  height: 400px;
}

.card-title.coverTitle {
  margin-top: 120px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.card-subtitle.subtitleCover {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.iconsPosition {
  margin: auto;
  padding-top: 2%;
  width: 50%;
}
.rowIconPosition {
  align-items: center !important;
  color: black;
  justify-content: center;
}

@media (max-width: 880px) {
  .backgroundCover {
    /* background-image: url(../../../imgs/camping.jpg);  */
    background-repeat: no-repeat;
    background-size: 100%;
    /* max-width: 100%; */
    max-height: 100%;
    overflow: auto;
    text-align: center;
    background-size: cover;
    width: 100%;
    height: 220px;
  }

  .card-title.coverTitle {
    margin-top: 70px;
    font-size: 25px;
  }
}
