.btn-primary.customInput {
  border-color: #ced4da;
  background-color: #ffffff;
  text-align: start;
  color: rgb(73, 80, 87);
  width: 100%;
  margin: auto;
  /* margin-top: 3%; */
  /* word-break: break-all; */
}
.btn-primary.customInput:hover {
  color: rgb(73, 80, 87);
  background-color: #ffffff;
  border-color: #ced4da;
}

@media (max-width: 880px) {
  .btn-primary.customInput {
    border-color: #ced4da;
    background-color: #ffffff;
    text-align: start;
    color: rgb(73, 80, 87);
    width: 100%;
    margin: auto;
  }
}

/* .btn-primary.placeDateBirthday {
    border-color: #ced4da;
    background-color: #ffffff;
    text-align: start;
    color:rgb(73, 80, 87);
    width: 100%;
    margin: auto;
    margin-top: 3%;
  }
  .btn-primary.placeDateBirthday:hover {
    color:rgb(73, 80, 87);
    background-color: #ffffff;
    border-color: #ced4da;
  } */
