.backgroundImage {
  background-image: url(../../imgs/Horizonte.jpg); /* Insere a imagem */
  background-repeat: no-repeat;
  /* background-size: 100%; */
  max-width: 100%;
  max-height: 100%;
  /* overflow: auto; */
  height: 400px;
  text-align: center;
  background-position-y: 10%;
  background-size: cover;
}

.alingInpBtnFeed {
  width: 100%;
}

.input-group-text.inputGorupDateFeed {
  height: 38.1px;
  width: 140px;
}
/* --------------------------- Card Title/Subtitle ---------------- */
.alingTextFeed {
  width: 97%;
  margin: auto;
  padding-bottom: 10px;
}
.card-title.cardTitleFeed {
  padding-top: 110px;
  padding-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.card-subtitle.cardSubtitleFeed {
  /* margin-top: 20px; */
  margin-left: 15px;
  padding-bottom: 10px;
  padding-top: 22px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* --------------------------- Buttons---------------- */

.buttonsFeedPosition {
  margin: auto;
  padding-top: 0%;
  width: 70%;
}
a.btn.disabled,
.fieldset:disabled,
.a.btn,
.btn-primary.disabled,
.btn-primary:disabled.searchButton,
.btn-primary.searchButton {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border: 5% !important;
  background-color: #fa6980;
  text-align: center;
  border-color: #fa6980;
}
.btn-primary.searchButton:hover {
  background-color: #e0596f;
  border-color: #fa6980;
}
.buttonPositionSearch {
  padding-top: 1%;
  padding-left: 0px;
}

.btn-primary.sugestionButton {
  background-color: #4b8e8e;
  text-align: center;
  /* border: none; */
}

.btn-primary.sugestionButton:hover {
  background-color: rgb(29, 119, 119);
}
.buttonPositionSugestion {
  padding-top: 1%;
  padding-left: 0px;
}
.buttonPositionSugestion .col {
  padding-left: 0px;
}

.btn-primary.closeDrowerButton {
  background-color: #e0596f;
  text-align: center;
}
.btn-primary.closeDrowerButton:hover {
  background-color: #e0596f;
  border-color: #fa6980;
}
.buttonPositionCloseDrower {
  padding-top: 0%;
  padding-left: 0px;
}

.btn-primary.customInput {
  margin: 0%;
}

.line.list-group-item{
  padding: 0.03ch;
  width: 650px;
}

/* --------------------------- Location/ Date Form---------------- */
.formPosition {
  margin: auto;
  padding-top: 0%;
  width: 70%;
}

.input-group.locationForm {
  position: relative;
  width: 193%;
}

.formPositionDate {
  padding-left: 205px;
}

/* ------------------------------------------ */

.iconFeedColor {
  color: #fa6980;
}
.divIconDateFeed {
  padding-right: 10px;
}
.btn-primary.customInput {
  padding-right: 10px !important;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  background-color: #fefefe;
}

.modal {
  outline: none;
  background: white;
  font-size: 1.6rem;
  width: 76rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 15;
  min-height: 47rem;

  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 880px) {
  .backgroundImage {
    background-image: url(../../imgs/Montanhas.jpg); /* Insere a imagem */
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: 340px;
    text-align: center;
    background-size: cover;
  }
  .alingInpBtnFeed {
    margin-top: 30px;
    width: 100%;
  }

  .line.list-group-item{
    padding: 0.02ch;
    width: 300px;
  }

  /* --------------------------- Card Title/Subtitle ---------------- */
  .alingTextFeed {
    align-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
  }
  .card-title.cardTitleFeed {
    padding-top: 20px;
    padding-left: 0px;
    /* margin: 0%; */
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  .card-subtitle.cardSubtitleFeed {
    width: 90%;
    border: 0px;
    padding-bottom: 0px;
    margin: auto;
    font-size: 15px;
    color: white;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  /* --------------------------- Location/ Date Form---------------- */
  .formPosition {
    margin: auto;
    /* padding-top: 0%; */
    width: 85%;
  }

  .input-group.locationForm {
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    width: 135%;
  }
  .formPositionLocation {
    padding-left: 0px;
  }

  .input-group.dateForm {
    width: 100%;
  }

  .formPositionDate {
    margin: auto;
    width: 380px;
    padding-top: 15px;
    padding-left: 0px;
  }
  .dateFeed {
    width: 290px;
  }

  /* --------------------------- Buttons---------------- */

  .buttonsFeedPosition {
    width: 90%;
    padding-left: 29px;
    /* align-items: flex-start; */
    margin: 0px;
    padding-top: 10px;
    /* width: 70%; */
  }
}
