.tudoLogin {
  background-image: url(../../imgs/am.jpg); /* Insere a imagem */
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  height: 1000px;
  text-align: center;
  background-size: cover;
}
/* ------------------------ Card ------------------------------ */
.card-title.coverTitleLogin {
  padding-top: 2px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 22px;
  color: #fa6980;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.cardPositionLogin {
  margin-top: 200px;
  /* justify-content: center;
  align-items: center; */
}
.card.handleCardLogin {
  background-color: rgba(255, 255, 255, 0.575);
  /* padding: 5%; */

  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  width: 40rem;
  margin: auto;
  border-radius: 8px;
}

/* --------------------------- Forms Email/ Password---------------- */
.input-group.userEmail {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}
.formPositionLogin {
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

.input-group.userPassword {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}
/* --------------------------- SingUp/Register button---------------- */
.btn-primary.disabled,
.btn-primary:disabled.buttonSignUp,
.btn-primary.buttonSignUp {
  background-color: #fa6980;
  border-color: #fa6980;
  font-weight: bold;
  border-radius: 5px;
  /* text-transform: uppercase; */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
}
.btn-primary.buttonSignUp:hover {
  background-color: #d8546a;
  border-color: #d8546a;
}
.buttonPositionSignUp {
  padding-top: 3%;
  margin: auto;
}

/* .btn-primary.buttonRegister {
  background-color: #629e9c;
  border-color: #629e9c;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 15px;
}

.btn-primary.buttonRegister:hover {
  background-color: rgb(62, 122, 120);
  border-color: rgb(62, 122, 120);
}
.buttonPositionRegister {
  padding-top: 1%;
  margin: auto;
} */

.positionErrorMessage {
  width: 50%;
  margin: auto;
  margin-top: 2%;
  /* justify-content: center; */
}
div.loginItem {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 2px;
  border-radius: none;
  border-color: rgba(73, 73, 73, 0.534);
  /* font-size:18px; */
  padding-top: 0%;
}
div.loginItemBotton {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top-width: 1px;
  border-radius: none;
  border-color: rgba(73, 73, 73, 0.534);
  /* font-size:18px; */
  padding-top: 0%;
}
.rowRegisterPosition {
  align-items: center;
  color: black;
  justify-content: center;
}
.subCoverRegister {
  padding: 0%;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
/* --------------- Icons ------------ */
.SocialIconsLogin {
  margin-top: 1%;
  /* margin-left: 42%; */
}

/* --------------------- Validations */
.help-blockLogin {
  color: rgb(243, 53, 53);
}

/* //////////////////////////////////////////////////////////////// MEDIA /////////////////////////////////////////////////////////////////////////////// */
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .tudoLogin {
    background-image: url(../../imgs/museum.jpg); /* Insere a imagem */
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: 750px;
    text-align: center;
    background-size: cover;
  }

  /* ------------------------ Card ------------------------------ */
  .card-title.coverTitleLogin {
    padding-top: 2px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 17px;
    color: #fa6980;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .cardPositionLogin {
    margin: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    /* padding-bottom: 80px; */
    /* justify-content: center;
    align-items: center; */
  }

  .card.handleCardLogin {
    background-color: rgba(255, 255, 255, 0.575);
    /* padding: 5%; */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    width: 93%;
    margin: auto;
    border-radius: 20px;
  }

  /* --------------------------- Forms Email/ Password---------------- */
  .input-group.userEmail {
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .formPositionLogin {
    width: 100%;
    margin: auto;
    margin-top: 3%;
  }
  .input-group.userPassword {
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
  }

  /* --------------------------- SingUp/Register button---------------- */
  .buttonPositionSignUp {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: auto;
  }
  .btn-primary.disabled,
  .btn-primary:disabled.buttonSignUp,
  .btn-primary.buttonSignUp {
    background-color: #fa6980;
    border-color: #fa6980;
    font-weight: bold;
    border-radius: 5px;
    /* text-transform: uppercase; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
  .btn-primary:not(:disabled):not(.disabled):active:hover,
  .btn-primary.buttonSignUp:hover {
    background-color: #d8546a;
    border-color: #d8546a;
  }

  /* --------------- Icons ------------ */
  .SocialIconsLogin {
    margin-top: 1%;
    /* margin-left: 35%; */
  }
}
