.postImage{
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    margin-left: 10%;
}

.postTitle{
    font-weight: bold;
}

.card-body{
    padding: 0% !important;
    margin-left: 20px ;
}

.iconColor2{
    font-size: 20px;
    color: #4B8E8E;
    float: right;
    margin-right: 20px;
}

.iconHeart{
    color: #fa6980;
    font-size: 20px;
    float: right;
}

.input-group.locateForm{
    width: 40%;
    margin-top: 20px;
    margin-left: 30%; 
}