.avatarContentPost {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.guideNames {
  color: #008b8b;
}

.guideNames:hover {
  color: #008b8b;
  text-decoration: none;
}

.list-group-item.listGroupItemContent {
  background-color: rgba(0, 0, 0, 0);
}

.list-group-item.disabled.listGroupItemContentDateDisabled,
.list-group-item.listGroupItemContentDateDisabled {
  background-color: #f1b0b7;
  color: #721c24;
  width: 115%;
  margin-left: -20px;
}
.list-group-item.active.listGroupItemContentDateEnabled,
.list-group-item.list-group-item-action:focus.listGroupItemContentDateEnabled,
.list-group-item-dark.list-group-item-action:hover.listGroupItemContentDateEnabled {
  background-color: #25d366;
}

.form-check.checkBoxContentPost {
  margin-left: 5px;
  width: 10px;
  margin: 0px;
}
.form-check.chackDates {
  width: 5px;
}

/* -------------------------------- Buttons -------------------------------- */
/* .btn-primary.disabled, */
.btn-primary:disabled.buttonScheduleContentPost,
.btn-primary.buttonScheduleContentPost {
  background-color: #fa6980;
  border-color: #fa6980;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 12px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  width: 100%;
}

.btn-primary.buttonScheduleContentPost:hover {
  background-color: #d8546a;
  border-color: #d8546a;
}

/* ------------------------------- Card Texts------------------------------------------------ */
.card-text.iconeAvaliacaoPost {
  margin-left: 15px;
  height: 30px;
  width: 60px;
  color: indianred;
  font-weight: bold;
  margin-bottom: 0px;
}

.card-text.iconeTravelerPost {
  height: 30px;
  width: 100px;
  color: darkcyan;
  font-weight: bold;
}

.card-text.textPrice {
  padding: 3px;
  color: darkcyan;
  font-weight: bold;
}

.card-text.textEstimatedHour {
  padding: 3px;
  color: darkcyan;
  font-weight: bold;
}

.card-text.iconeTrueFalse {
  width: auto;
  font-size-adjust: inherit;
}

/* -------------------------------Icons socialMidia--------------------------------------- */

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
  background-color: #c23321;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--hackernews {
  background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #fb6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
}

.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
  border-color: #35465c;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

/* ----------------------------------------------------------------------- */

@media (max-width: 880px) {
  .list-group.list-group-flush.listGroupContent {
    /* margin-left: 25px; */
  }

  /* -------------------------------- Buttons -------------------------------- */
  /* .btn-primary.disabled, */
  .btn-primary:disabled.buttonScheduleContentPost,
  .btn-primary.buttonScheduleContentPost {
    margin-top: 10px;
  }

}
