.card-title.TourTitle {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.container.containerFeedSearch {
  padding-top: 20px;
}

.card-text.TourPrice {
  margin: 1px;
  padding-top: 30px;
  color: darkcyan;
  font-weight: bold;
}

.card-text.TourHours {
  color: darkcyan;
  font-weight: bold;
}
.card-text.subtittleFeedSearch {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

ol,
ul,
dl.paginationPosition {
  margin-left: 72%;
}

.card-img-top.tourImageSearch {
  height: 180px;
  width: 350px;
  border: 0px !important;
  border-radius: 3px !important;
}

.btn-link.buttonLinkFeedSearch {
  padding: 0px;
}
.alingButtonEditRemoveFeedSearch {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .card-img-top.tourImageSearch {
    height: 180px;
    width: 100%;
    border: 0px !important;
    border-radius: 3px !important;
  }

  .card-title.TourTitle {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .TourBodySearch {
    padding-left: 10px;
    max-width: 290px;
  }

  ol,
  ul,
  dl.paginationPosition {
    margin-left: 47%;
  }
}
