.backgroundTrending {
  /* margin: auto;
  margin-left: 280px; */
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  height: auto;
  text-align: left;
  background-size: cover;
  margin-bottom: 20px;
}

.descriptionCard {
  text-align: left;
  font-size: 13px;
  color: #a1a1a1;
}

p {
  margin-bottom: 2px !important;
}

.card-text.descriptionCard {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.timeCard {
  text-align: left;
  font-size: 13px;
  color: #7da9a9;
  margin-left: 6px;
}

.iconCard {
  margin-left: 13px;
  font-size: 13px;
  color: #a1a1a1;
}

.h5.h5.titleStyle {
  font-size: 15px;
  font-weight: bold;
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title.titleStyle {
  margin-bottom: 3px;
}

.card-title.titleTrending {
  font-weight: bold;
  font-size: 115%;
  text-transform: uppercase;
  margin-top: 4%;
  margin-left: 25px;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}

.divTrending {
  width: 100%;
}
.divPositionsFeed {
  margin: auto;
  width: 70%;
}

.card-img-top.cardImgTrending.cardImgTrending{
  border-radius: 0px !important;
  border: 0px !important;
  height: 170px;
}
.card-body.bodyTrending {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-link.buttonLinkTrending{
  padding: 0px;
}

@media (max-width: 880px) {
  .card-title.titleTrending {
    font-weight: bold;
    font-size: 115%;
    text-transform: uppercase;
    margin-top: 4%;
    margin-left: 15px;
    max-width: 100%;
  }

  .divPositionsFeed {
    margin: auto;
    padding-top: 0%;
    width: 80%;
  }
}
